[2019-05-25 22:09] ribtoks commented on #695
Looks super weird

[2019-05-26 00:25] ribtoks commented on #695
Ok, so what happens is the following:
- Xpiks adds files (initially emtpy) and starts metadata import jobs (from cache + from files with exiftool)
- after empty files are added, `TextEdit::onTextChanged` is called by QML in `MainGrid.qml` which causes `ArtworksListModel::setData()` to be called with empty text
- now there's a race between import of metadata and `setData()`: if metadata is imported

[2019-05-26 03:38] ribtoks commented on #687
exiftool does not write XMP anymore because of some Adobe hacks with EPS.

[2019-05-26 12:05] velmafia commented on #695
I will prepare pull-request with this cherry-pick, because I'm working with version built by myself from master branch, and this is really frustration behaviour.

[2019-05-26 17:28] #693 closed

[2019-05-26 17:29] #695 closed

[2019-05-26 19:01] ribtoks opened #697 "Generate video previews out of proc"
Instead of using libthumbnlr in proc, use `ffmpeg` directly (Xpiks uses it anyways) as a process so if it crashes, it wouldn't crash Xpiks itself. There're reports of Xpiks crashes when creating video thumbnails with ffmpeg.

[2019-05-26 20:07] ribtoks commented on #687
Also does not work in `exiv2` https://github.com/Exiv2/exiv2/issues/603 which uses xmptoolkit

[2019-05-26 23:21] ribtoks commented on #687
Started Adobe forum thread https://forums.adobe.com/thread/2625257

[2019-05-27 01:59] ribtoks opened #698 "Reimport pending flag is not cleared on artwork"

[2019-05-27 05:15] ribtoks commented on #683
@zhartus yes and no. There would be no point in uploading vector without metadata. Currently Xpiks will not be able to save metadata to .eps and .ai files (because Adobe does not follow it's own XMP standard for these files).

[2019-05-27 07:05] zhartus commented on #683
@ribtoks well, right now after uploading images to Shutterstock they are duplicated (the vector and raster are loaded separately). Have to manually delete JPEG-s after uploading, this is not very convenient. The same thing for Alamy stock by the way. So I am anyway now updoad vector without metadata on part of the stocks and enter metadata manually. But at the same time additional work is added to

[2019-05-27 13:39] zhartus opened #699 "Close unsaved "Suggest keywords" dialog warning"
I do not know how other users, but I often mistaken in this dialogue and press the button "Close" instead of "Add suggested". After this, the dialogue is simply closed, with the result that all the work done is lost. Maybe it makes sense to add a warning before dialog closing that there are unsaved changes?

[2019-05-28 15:23] #683 closed

[2019-05-29 14:24] ribtoks opened #700 "Some MessageDialogs froze everything"
Need to refactor to command dispatcher and 1 message dialog

[2019-05-29 16:10] ribtoks commented on #687
However, exiftool can write [Postscript tags](https://sno.phy.queensu.ca/~phil/exiftool/TagNames/PostScript.html) that also have Subject/Keywords tags.

[2019-06-01 17:16] ribtoks opened #701 "Change Shutterstock json config in API"
Add "Skip preview" option

[2019-06-01 17:18] ribtoks commented on #411
Implemented as part of #687

[2019-06-01 17:18] #411 closed

[2019-06-01 18:45] ribtoks commented on #687
Done in master and libxpks

[2019-06-01 18:45] #687 closed

[2019-06-01 18:59] #686 closed

[2019-06-01 19:00] ribtoks commented on #701
Updated in dc6c3f8

[2019-06-01 19:00] #701 closed

[2019-06-01 21:43] ribtoks opened #702 "Restore session is lost after 1 launch"
Steps to repro:

- open files
- click File -> Restore session
- close Xpiks
- open Xpiks (session is restored)
- close Xpiks
- open Xpiks (session is not restored)

[2019-06-01 22:44] #702 closed

[2019-06-01 22:50] ribtoks commented on #700
Fixed in master by refactoring message dialogs

[2019-06-01 22:50] #700 closed

[2019-06-01 22:52] ribtoks opened #703 "Use styled message dialogs"
<img width="1440" alt="Знімок екрана  о 14 59 08" src="https://user-images.githubusercontent.com/505555/58754460-2521ce00-8485-11e9-9afb-930f026deb02.png">
<img width="903" alt="Знімок екрана  о 15 05 50" src="https://user-images.githubusercontent.com/505555/58754461-2521ce00-8485-11e9-9a13-3db756e7c81d.png">
<img width="550" alt="Знімок екрана  о 15 08 17" src="https://user-images.githubuserconte

[2019-06-02 02:36] #682 closed

[2019-06-02 02:49] #698 closed

[2019-06-02 15:24] ribtoks opened #704 "Fix static analysis warnings"
[Sonarqube](https://sonarcloud.io/project/issues?id=ribtoks-xpiks-qt%3Asonarqube&createdAt=2019-05-29T03%3A03%3A21%2B0200)

[Coverity](https://scan.coverity.com/projects/xpiks-qt/view_defects)

[2019-06-02 22:48] ribtoks opened #705 "Update sqlite and other dependencies for 1.5.3"
- [x] sqlite
- [x] libcurl
- [x] hunspell
- [x] ffmpeg
- [x] exiftool
- [x] openssl?

[2019-06-02 23:44] #704 closed

[2019-06-04 23:11] velmafia commented on #688
`Replace` button is enabled when nothing is selected only after `Reset All` button. This is what you meant when you write this issue?

[2019-06-05 00:46] ribtoks commented on #688
Current behavior is that when you have spelling errors and you open 'Fix spelling' dialog, "Replace" button is enabled even though you cannot replace anything (because you didn't select anything). Desired behavior is that replace button property "enabled" is bound so some property of the `spellCheckSuggestionModel`. And in it's own turn model will fire signal only when user clicked on something. G

[2019-06-05 00:50] ribtoks commented on #688
Yeah.. Apparently I have implemented this in past and forgot to close the issue. Sorry.

Also - I forgot to do it in `Reset All` so your comment is 100% valid. Let's consider this as the task then.

[2019-06-05 00:51] ribtoks commented on #688
Let's merge your change to master before 1.5.3 branching.

[2019-06-05 00:52] ribtoks commented on #587
This issue is trivial, but waiting for the designs decisions to be made so I put "blocked" for now.

[2019-06-05 14:34] #688 closed

[2019-06-05 17:24] velmafia commented on #672
I'm starting to work on it

[2019-06-05 18:39] ribtoks opened #707 "Fix UI tests on travis macOS"

[2019-06-05 18:52] velmafia commented on #587
I think that `Remove item` option can also be added to `three-dots` menu with `Move up` / `Move down`. After that "remove icon" (`X`) can be deleted, and checkbox can be moved to right side of element name (where now is "X" icon).

[2019-06-06 02:52] #373 closed

[2019-06-06 21:59] velmafia opened #708 "[bug] "Clear" button clicked for one image delete keywords for all open images"
![xpiks-clean](https://user-images.githubusercontent.com/5277222/59069316-096c5c80-88b7-11e9-9dda-b9a8532cf4b9.gif)

branch: current master

[2019-06-06 22:01] ribtoks commented on #708
Holly molly..

[2019-06-06 22:45] #708 closed

[2019-06-06 22:58] ribtoks opened #709 "Randomize integration tests to break contextual dependencies"
Right now integration tests always run in predefined sequence. This task is about changing that so that almost all the tests will be executed in random sequence (add 1 call to `std::shuffle`). Almost because first and last tests should be as is (they have respectful comments).

[2019-06-07 22:29] ribtoks opened #710 "Crash when removing directories"
[xpiks-qt-07062019-220900-284.log](https://github.com/ribtoks/xpiks/files/3267813/xpiks-qt-07062019-220900-284.log)

[2019-06-08 03:33] #710 closed

[2019-06-08 17:43] velmafia commented on #672
As agreed in email, expiration time is set to 14 days.

[2019-06-09 01:54] #709 closed

[2019-06-09 04:53] #705 closed

[2019-06-09 04:58] ribtoks commented on #683
@zhartus Can you check if that works for you https://github.com/ribtoks/xpiks/releases/tag/v1.5.3-08062019 I implemented both vector keywording and correct vector uploading to Shutterstock

[2019-06-09 18:26] ribtoks opened #714 "Current index is not updated when removing artworks"

[2019-06-10 08:18] zhartus commented on #683
@ribtoks I can't check it because there is no linux version on the [mentioned page](https://github.com/ribtoks/xpiks/releases/tag/v1.5.3-08062019). Can you add appimage or deb?

[2019-06-10 14:14] ribtoks commented on #683
No I can't do it yet sorry. Linux packaging is always a pain. I will only add it later after everything is settled (bugfixes, translations etc.).

[2019-06-10 14:24] #672 closed

[2019-06-10 14:55] velmafia commented on #683
@zhartus what's your operating system? Debian/Ubuntu?
Later I will try prepare for you binary version.

[2019-06-10 16:04] ribtoks commented on #683
Thanks for taking care of it @velmafia !

[2019-06-10 16:25] ribtoks commented on #714
Fixed in master with cosmetic fixes.

[2019-06-10 16:25] #714 closed

[2019-06-10 16:28] ribtoks commented on #683
@velmafia Just realized that it will **not** work. EPS files IO and upload are only implemented in real libxpks. If I will manage to handle translations today, tomorrow I might try to do it myself. Which Ubuntu is the best as the base image? 16.04 or 18.04?

[2019-06-10 17:11] velmafia commented on #683
@zhartus so I will not prepare binary for you...
@ribtoks I don't use ubuntu, but I think newer will be better

[2019-06-10 18:52] velmafia commented on #691
I'm working on it.

editing `switches.json` in branch `gh-pages` is also in scope in this task?

What should be default value of this switch: `legacy backups cleanup` enabled or disabled?

[2019-06-10 19:30] ribtoks commented on #691
Default value should be `disabled` (it will be disabled for all newer Xpiks releases like 1.6+ since "old backups" is a thing from past).

If it's not hard, yes, you can update `switches-153.json` as well.

[2019-06-10 22:23] #691 closed

[2019-06-11 05:16] ribtoks opened #717 "Deploy perl with macOS package after 10.15"
Apple reportedly is going to [stop shipping Perl by default](https://developer.apple.com/documentation/macos_release_notes/macos_10_15_beta_release_notes). Xpiks requires exiftool that requires perl so..

[2019-06-11 14:53] ribtoks commented on #683
@zhartus I uploaded AppImage for 1.5.3. Please let me know if that works for you.
@velmafia Can you please also try if AppImage works in your Linux distro?

[2019-06-11 16:05] zhartus commented on #683
@velmafia Sorry, I could not answer yesterday.
My OS is Ubuntu 16.04 amd64.

@ribtoks I tried to run your AppImage, but I got an error:
`./Xpiks-x86_64.AppImage: /lib/x86_64-linux-gnu/libm.so.6: version `GLIBC_2.27' not found (required by /tmp/.mount_Xpiks-pJ4Cn2/./lib/libavcodec.so.58)
./Xpiks-x86_64.AppImage: /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.27' not found (required by /tmp/.moun

[2019-06-11 16:13] ribtoks commented on #683
@zhartus yep, I created it on latest LTS (18.04.1 or smth like that).

[2019-06-11 16:19] zhartus commented on #683
@ribtoks Update:
Looks like i was right.
Here is a link to the topic that describe the problem and discusses ways to supply support for Ubuntu 16.04 and all further versions:
https://discourse.nixos.org/t/building-an-executable-with-nix-that-can-run-on-ubuntu-16-04/2338
Is it possible to implement this for Xpiks? This may be useful not only for me, since 16.04 is the previous LTS version, which is

[2019-06-11 16:28] ribtoks commented on #683
@zhartus  It is definitely not possible to do it now. I spent lots of time to setup 18.04 for Xpiks build environment. I don't have any more time for investigations for Linux. Maybe for some future release.

[2019-06-11 16:30] zhartus commented on #683
@ribtoks Ok, thanks. I'll try to handle it by myself.

[2019-06-11 17:31] velmafia commented on #683
@ribtoks yes, it's working in my Debian testing (last updated was a few days ago).
@zhartus I know that this is workaround, but if you want only testing this `appimage` you can try install new ubuntu using [Debootstrap](https://wiki.debian.org/Debootstrap) this will install new system (for example Ubuntu 18.04) to one directory, and it's isolated from your local system. Link above is for Debian, b

[2019-06-11 17:47] ribtoks commented on #683
@velmafia Thanks for trying it out!
Re: debootstrap. Chroot always have had some limitations and issues. I wouldn't use it on my main workstation/laptop. It's easier (sorted by complexity) 1. not to use Xpiks. 2. upgrade Ubuntu. 3. Virtualbox with link to directory on host system.

[2019-06-11 18:19] zhartus commented on #683
@velmafia Thanks for idea.
@ribtoks Yes, I was just thinking about Virtualbox, I will most likely try this option. Thanks again.

[2019-06-13 04:51] ribtoks opened #718 "Improve open files/folders startup directory experience"
Follow up from a [user request](https://groups.google.com/forum/#!topic/xpiks-support/WDS36n51Jx0).

Currently "Open file" and "Open directory" dialogs start in `folder: shortcuts.pictures`. This leads to non-optimal experience when opening deeply nested files (need to go every time to the bottom of hierarchy). This task is to add method `QUrl UIManager::getOpenDialogStartupCandidate(QUrl default)

[2019-06-14 12:48] velmafia commented on #718
I coded what you write above, but during the tests I found that this is already implemented [here](https://github.com/ribtoks/xpiks/blob/46917f21d5b4364e36a2277a6d8584c65ab8e02b/src/xpiks-qt/main.qml#L996):
[code]

[2019-06-15 16:16] ribtoks commented on #718
Yeah, let's park it for now. I'll reach back to the user.

[2019-06-15 16:18] ribtoks commented on #718
Yeah, let's park it for now. I'll reach back to the user to ask why it wasn't working.

[2019-06-15 16:34] ribtoks commented on #718
Thanks for the investigation!

[2019-06-15 18:16] ribtoks commented on #718
I proposed user to use Favorites feature in their file manager and user agreed. So far we can consider this issue as "irrelevant" anymore.

[2019-06-17 11:29] velmafia commented on #718
User was right. problem still exist before first `onArtworksAdded`, after that everything works well.
I don't know why this was working when I tested it before.

@ribtoks please, reopen this issue. I will fix this.

[2019-06-17 15:18] ribtoks commented on #718
@velmafia  There's no need to fix this:

- if we have "restore last session" ON then we will set filedialog path anyway because of `onArtworksAdded`
- if we have "restore last session" OFF which directory you will set as default and why? This is a tricky question without right answer.

[2019-06-17 15:54] ribtoks opened #719 "Upgrade to Qt 5.12.4 with openssl 1.1.1 before December 2019"
OpenSSL < 1.1.1 (like 1.0.2) will be discontinued later this year. Finally Qt supports 1.1.1 so we need to upgrade openSSL for Windows. This will facilitate upgrade to Qt 5.12

[2019-06-17 16:39] velmafia commented on #718
@ribtoks "restore last session" is working only when you left opened directory in `xpiks` before exit. If you close all directories `Add directory` will always start in `shortcuts.pictures`. In my mode of work I always close all directories before I close `xpiks`. Maybe user who requested this feature does the same.

What I propose is the same what was in scope on this issue: [proposal](https://gi

[2019-06-17 17:36] ribtoks commented on #718
@velmafia I understand what you proposed even from your comment. What I'm saying is that it's hard to conclude that startup directory in case when 'restore last session' is OFF should be most recent directory. What if next time user opens Xpiks will be in a week? I will not be interested in my previous directory. What if user already moved directory that was recent last time? There will be many ca

[2019-06-17 19:15] velmafia commented on #718
Maybe I'm little stubborn, but for me behaviour when default path for "Add directory" depends on whether last time I closed the working directory or not, isn't fully intuitive (as we see for user who start this issue also).

If startup directory is problematic when 'restore last session' is OFF, so maybe we can check this? In my proposal this will be really easy `UIManager` already has `SettingsMo

[2019-06-18 13:19] velmafia commented on #689
Change this also for `CombinedEditView`?

[2019-06-18 14:42] ribtoks commented on #689
@velmafia This issue requires a design decision. Just drawing huge orange vertical line near the image will be a little big ugly. I'll ask the designer and will follow-up here in the comments.

P.S. this issue was not prioritized anywhere: it's not in the 1.6 milestone and we didn't discuss it beforehand.

[2019-06-18 16:12] ribtoks opened #720 "Ability to restore originals from exiftool"
Currently Xpiks only allows to save backups when writing metadata. It will be handy if Xpiks will allow restoring those backups. Implement something like `wiping worker`, but `restoring worker` in the Advanced menu.

[2019-06-18 18:55] ribtoks commented on #689
I talked to designer. So far the outcome is this:
- regarding visual decision, having lines (like you did) and not other symbols is good and consistent with main view
- regarding this task in general, it has to be put on hold since most probably there will be major redesign for Xpiks 1.6

[2019-06-18 18:57] ribtoks commented on #587
I talked to designer and currently the outcome is this:
- most probably we will replace "remove icon" to 3-dots menu
- currently we put this task on hold since there will be a major redesign of this part of Xpiks for version 1.6 - most probably it will not be a dialog anymore but a part of `StackView` like `ArtworkEditView`/`WarningsView` etc.

[2019-06-19 15:35] ribtoks opened #722 "Files cannot be saved and cannot be uploaded"
So far if the file cannot be saved Xpiks will refuse to upload it.

[2019-06-19 16:10] #722 closed

[2019-06-19 18:12] velmafia opened #723 "Tests for "recently goups" (#475)"
Increase test coverity for changes proposed in #721

[2019-06-20 17:03] #380 closed

[2019-06-22 18:45] ribtoks opened #724 "Finalize translations to Italian and Indonesian"
Currently following strings will be "autotranslated"

<img width="322" alt="image" src="https://user-images.githubusercontent.com/505555/59967726-389fe200-94e3-11e9-89fa-11e5850d9c48.png">

[2019-06-22 21:20] ribtoks opened #725 "Add new integration tests"
- [ ] Integration test for user dictionary (that user dictionary is saved to file and loaded from file)

[2019-06-23 11:51] velmafia commented on #573
I grab this task

[2019-06-24 00:38] velmafia commented on #630
I grab this task.

[2019-06-24 01:24] ribtoks commented on #630
Sure. There was a significant API change in tintAES. We need a test to see
if passwords encoded with current one will be decoded with latest. It can
be a manual test.

[2019-06-24 04:06] #573 closed

[2019-06-24 17:23] #475 closed

[2019-06-24 18:18] ribtoks commented on #723
closed in c481abfc

[2019-06-24 18:18] #723 closed

[2019-06-24 19:13] ribtoks commented on #707
So many times in a row tests were green - apparently this is fixed

[2019-06-24 19:13] #707 closed

[2019-06-24 19:16] #635 closed

[2019-06-24 19:19] ribtoks commented on #562
Updated to Qt 5.9

[2019-06-24 19:19] #562 closed

[2019-06-24 19:22] ribtoks commented on #725
moved to #403

[2019-06-24 19:22] #725 closed

[2019-06-24 23:24] ribtoks commented on #518
Adding [blocked] here as it should wait for general redesign of xpiks.

[2019-06-24 23:35] ribtoks commented on #594
Putting this one on hold since it's won't scale on Windows + there's a script in `scripts\deploy\update_exiftool.sh` that is kind of doing the same.

[2019-06-26 00:54] ribtoks opened #727 "Create feedback/contact form"
Create a new dialog "Send Feedback" that will have a contact form with
* return email
* body
* message
* checkbox "Attach logs" (in collapsed "Advanced" section)
* checkbox "Attach screenshot" (in collapsed "advanced" section)

When user clicks button "send feedback", Xpiks takes a screenshot of root component in main view (there's a Qt API for that). In button "Send" in this dialog Xpiks will do

[2019-06-27 00:08] velmafia opened #728 "Build tiny-AES as a library"
Build `tiny-AES` as library (currently is being built together with `xpiks`)

[2019-06-27 23:44] velmafia commented on #620
@ribtoks: I think `MenuSeparator` will improve readability, what do you think?

![separator-reorder](https://user-images.githubusercontent.com/5277222/60307780-4a034700-9946-11e9-84d4-01f418c5213e.jpeg)

[2019-06-27 23:58] ribtoks commented on #620
@velmafia Sure, looks OK.

[2019-06-28 14:21] #630 closed

[2019-06-28 16:06] #620 closed

[2019-06-28 21:32] ribtoks commented on #620
It did not work on Windows (it works only from `cmd` if you execute it like `cmd \C start /path/to/file`. I fixed in cd4a6179. Need to check in other systems.

[2019-06-28 21:44] velmafia commented on #620
For `linux` and `macos` it's works, I tested this OS.

[2019-06-29 00:34] ribtoks commented on #728
No need to do it. With latest tiny-aes I was able to remove rename step. It's absolutely fine to build as part of Xpiks.

[2019-06-29 00:34] #728 closed

[2019-06-29 00:40] velmafia commented on #728
I already done [this task](https://github.com/velmafia/xpiks/commits/dirty/tiny-aes), but not yet prepare clean version for PR. :)

[2019-06-29 01:22] velmafia commented on #728
I make this during #729, and I forgot update status on GitHub. But OK, this no real profit, and was fast and easy task, so we can drop it.

[2019-06-29 18:33] ribtoks opened #731 "Fork all vendors and update submodule links"

[2019-06-30 14:59] velmafia opened #732 "Terms and conditions: imposible to Agree"
Hi,
after first run when `Terms and conditions` window is displayed, is impossible to click `Agree` and close the windows, only `Disagree` close the windows (and `xpisk` for release build).

branch: current master (debug and release build)
logs: [terms-and-conditions.log](https://github.com/ribtoks/xpiks/files/3343011/terms-and-conditions.log)

![terms-and-conditions](https://user-images.githubuse

[2019-06-30 15:51] #732 closed

[2019-06-30 15:52] ribtoks commented on #732
@velmafia can you check if it works for tag [v1.5.3] (i.e. last "official" release)?

[2019-06-30 15:52] ribtoks commented on #731
Done in master

[2019-06-30 15:52] #731 closed

[2019-06-30 16:03] velmafia commented on #732
@ribtoks: tag [v1.5.3] works well. So "official" release isn't affected.

[2019-06-30 17:04] velmafia commented on #610
I grab this task.

[2019-06-30 17:28] ribtoks opened #733 "Add UI test for terms&conditions dialog"
There was an issue when terms&conditions dialog was broken. Add UI test for "Agree" btn.

[2019-07-02 03:07] ribtoks commented on #610
Investigation finished with the result "significant refactoring required" because `ArtworkProxyBase` uses `IMetadataOperator` which is incompatible with commands that expect `ArtworkMetadata`.

[2019-07-02 03:07] #610 closed

[2019-07-03 11:25] velmafia commented on #720
I'm working on it.

[2019-07-03 13:53] velmafia opened #734 "Artworks are marked as modified after restart when "Restore last session on startup" is set"
When `Restore last session on startup` is set, and `xpisk` is closed with open folder, then in next `xpiks` run all opened artworks are set as `modified`.

branch: current master (2244e4a890095df89a44ab0f4f604fbd8b8350a3), debug and release.
logs before restart:  [before-restart.log](https://github.com/ribtoks/xpiks/files/3355262/before-restart.log)
logs after restart: [after-restart.log](https://

[2019-07-03 14:45] ribtoks commented on #734
I cannot reproduce this on master on macOS. Can you check if you can repro it with official 1.5.3 AppImage?

[2019-07-03 14:55] ribtoks commented on #734
Also nothing special in the logs. Usually such issues happen because of the differences in thread scheduling which means there's a race condition in code. If you will verify that the same happens in AppImage we'll have to debug it thoroughly.

[2019-07-03 14:57] velmafia commented on #734
This problem doesn't occur on official 1.5.3 AppImage.

Later I will check this issue also on my second PC.

[2019-07-03 15:07] ribtoks commented on #734
OK, I guess I found your issue:
[code]
Second time when Xpiks starts what you get is that all metadata is only read from your local `metadatacache.db` and actual metadata from files cannot be read because `exiftool` cannot be found.

You run script `./scripts/deploy/update_exiftool.sh` from repo root.

[2019-07-03 16:26] ribtoks commented on #734
Closing as "works as expected"

[2019-07-03 16:26] #734 closed

[2019-07-03 17:58] velmafia commented on #734
I have the same behavior on my second PC, and this script solve this problem.

But I have another question, if root case of this behavior is missing `exiftool`, so why I'm able to open this files first time with all metadata? Before this test, I remove all data from configuration directory (`.local/share/Xpiks`), so local cache was empty. I don't run this script before, but still I was able to nor

[2019-07-03 18:06] ribtoks commented on #734
Xpiks tries to detect exiftool (it might fallback to `/usr/local/bin/exiftool` etc.). Initial launch with restore session has not enough time to detect exiftool so Xpiks reads from cache.

Yes, it still reads from cache because there are several caches. For debug it's `.local/share/Xpiks_debug/${git-branch-name}` or something like that. Also if you switched branch but did not run proper `qmake` th

[2019-07-03 18:32] ribtoks commented on #718
@velmafia ok, last described algorithm makes sense

[2019-07-03 18:35] velmafia commented on #718
OK, I will do this.

[2019-07-04 21:30] ribtoks opened #735 "Cannot add "3d render" to dictionary"

[2019-07-04 21:32] #735 closed

[2019-07-06 00:56] velmafia opened #736 "integration tests are not run because of quazip linking problem."
#726 broke integration test on `appveyor`, without any visible symptoms (test binary was not started, but build was still marked as `passed`.

`quazip` library was not linked because of lack `z.lib` library:

[code]

It's strange that despite linking problem, static library was created, I don't know why:
[code]
This static library, was linked with xpisk without problem, result of this was broken i

[2019-07-06 01:40] velmafia commented on #736
When I was working on #573 I missed that `vendors/quazip/quazip/quazip.pro` had some extra changes, different that origin `quazip.pro`, restore this changes (6ebc7476d8580ad113d455ad4e8a23a6dcbc2465) fixed problem with `quazip` linking and `integration-tests` again running.

But I still don't have idea how to detect this kind of problem on `appveyor` and fail build with current problem.

[2019-07-06 02:28] ribtoks commented on #736
Thanks for the investigation. Well, we know that tests.log is empty when executable cannot start so we can start with a check as simple as comparing size of tests.log file to `0` and alerting if it is true.

[2019-07-06 02:36] ribtoks opened #737 "Fail vendors build if any of the steps fails"
@velmafia this will be first repair item for broken quazip problem.

Currently `scripts/build/build_vendors_xxx` steps fail silently. This task is to fail whole `build_vendors_xxx` script if any subbuild failed.

[2019-07-06 04:28] ribtoks commented on #736
I tried again and did not see any errors for building libface and ssdll. How did you get them?

[2019-07-06 05:31] ribtoks commented on #736
OK, I figured out how you get those "fatals". The thing is that long time ago you added line `set NMAKE_OPTIONS="clean all /f Makefile"` to file `build_vendors_windows.bat` and only _Release_ build fails with fatal. _Debug_ build succeeds because only _Debug_ libs are being copied.

[2019-07-06 05:59] ribtoks commented on #737
Closed in f412cfb4c3

[2019-07-06 13:16] velmafia commented on #736
@ribtoks you deliver my changes (6ebc7476d8580ad113d455ad4e8a23a6dcbc2465) together with #737. So I think we can close this issue.

[2019-07-06 18:03] ribtoks commented on #737
Will need to repeat this exercise for Linux and macOS

[2019-07-07 18:51] velmafia commented on #718
Finally I found where was problem. I have 2 laptop where I develop `xpiks`, on first I have `qt` installed from Debian repository (`apt install qt5-default`), on second installed by official installer (`Qt Online Installer for Linux`), in both case version was the same (5.11.3).

And know:
- when I use `qt` from Debian repo - everything working as expected;
- when I use `qt` from official installe

[2019-07-07 20:23] ribtoks commented on #720
Downgraded to trivial after email discussion.

[2019-07-07 20:23] #720 closed

[2019-07-07 20:28] #718 closed

[2019-07-07 20:38] ribtoks commented on #737
Done for linux and mac

[2019-07-07 20:38] #737 closed

[2019-07-08 05:19] ribtoks commented on #736
This is supposedly fixed in master

[2019-07-08 05:19] #736 closed

[2019-07-09 00:27] velmafia commented on #449
I grab this issue.

[2019-07-11 18:57] ribtoks opened #740 "Ability to add to user dictionary from Fix spelling dialog"
User should be able to add word from FixSpelling dialog to user dictionary.

Implementation-wise it should be easy: submit `AddToUserDictionary` UI command via dispatcher and delete appropriate row from `SpellCheckSuggestionsModel` (with `beginRemoveRows()` wrapper).

What needs to be figured out is a nice way to do it from the UI.

This feature should have a UI test as well.

[2019-07-14 03:28] ribtoks opened #741 "Create additional tests for filtered artworks"
Currently `FilteredArtworksListModel` has many tests when artworks are "not filtered". That means that these tests pass because for them `proxyIndex` of given particular artwork is equal to `originalIndex` of same artwork (that is index in `ArtworksListModel`).

This task is about creating more core tests (or editing majority of existing) for `FilteredArtworksListModel` where in tests setup filter

[2019-07-16 21:20] ribtoks opened #742 "Upload speed is too slow"
Some users reported that Xpiks uploads much slower than FileZilla. Increasing `CURLOPT_UPLOAD_BUFFERSIZE` solve the problem for those users but caused `FTP response timeout` issues for other users.

https://stackoverflow.com/questions/27337649/libcurl-upload-data-inactivity-timeout-not-working
https://curl.haxx.se/libcurl/c/CURLOPT_LOW_SPEED_TIME.html

Might be useful to use tcp keepalive like thi

[2019-07-17 18:21] ribtoks opened #743 "Create test for Xpiks upgrade"
Create test that will simulate update flow on Windows. Xpiks will use local patch for switcher config with update version. Test is supposed to verify that `ministaller.exe` is correctly started and after upgrade everything is updated.

[2019-07-18 14:58] ribtoks opened #744 "Exported CSV filenames mismatch"
If video file has spaces in it's title, then during upload spaces will be changed to underscore and some additional noise. But this invalidates CSV since in CSV filenames are the same..

[2019-07-18 15:25] ribtoks commented on #742
Response from curl-library mailing list

[2019-07-19 00:22] #449 closed

[2019-07-19 18:20] ribtoks opened #746 "Enable filtering by thread in xpiks logs viewer"
https://github.com/ribtoks/xpiks-logs-viewer

Add simple combobox on top of the page with thread IDs and js function that will hide all other lines.

[2019-07-19 18:52] ribtoks commented on #746
Done.

[2019-07-19 18:52] #746 closed

[2019-07-20 22:01] velmafia commented on #488
@ribtoks: according to your email and your idea presented there, I will do this task using https://github.com/ribtoks/xpiks-logs-viewer

[2019-07-21 05:24] ribtoks opened #747 "Create help icons with links to tutorials"
Create small "Help" (question mark) icons that when clicked will open some hardcoded (or Remote json API-based) tutorial page on Xpiks website. Icons should be added to all dialogs that have tutorials available.

[2019-07-21 11:55] cupofspring commented on #621
Checked the version 1.5.4  Any updates with this issue soon?

[2019-07-21 15:16] ribtoks commented on #621
@cupofspring Hi. This issue is scheduled for 1.6 release. If you're following this issue on GitHub, you can see it's milestone.

[2019-07-25 18:37] velmafia opened #748 "High-DPI scaling problem."
I'm changed my full HD monitor to new 4K, and I found that xpisk has problem with high-DPI scaling, when I build it locally:
![dpi](https://user-images.githubusercontent.com/5277222/61898556-dee36b00-af19-11e9-80cd-64bff2806f5c.png)
Problem appear when I use display scaling from KDE/Plasma settings (Display => Scale display), without scaling xpisk looks normally, but everything is too small.

I tr

[2019-07-25 18:41] ribtoks commented on #748
What happens when you try to tune fonts using Settings->UI (there's a Keyword size slider)?

[2019-07-25 18:43] ribtoks commented on #748
On macs with retina display it behaves OK, but on Windows with non-round scaling (like 1.25, 1.5) it has even worse behavior https://github.com/ribtoks/xpiks/issues/560
I never tried on Linux with 4K monitor, but feel free to try to fix this issue.

[2019-07-25 18:46] velmafia commented on #748
![dpi](https://user-images.githubusercontent.com/5277222/61900105-2fa89300-af1d-11e9-9c26-a6974aded568.gif)

[2019-07-25 18:48] ribtoks commented on #748
Ok.. I meant: what happens with "poor" fonts with Official AppImage (I don't know what patches your distro owners applied to Qt) if you change keywords size slider **and** save settings (close window)?

[2019-07-25 19:00] velmafia commented on #748
AppImage:
![dpi2](https://user-images.githubusercontent.com/5277222/61900996-0ee13d00-af1f-11e9-82ba-781c8dec0617.gif)

[2019-07-25 19:02] ribtoks commented on #748
You can try to play with this file https://github.com/ribtoks/xpiks/blob/master/src/xpiks-qt/Constants/UIConfig.js to see if font rendering will improve

[2019-07-27 15:56] #744 closed

[2019-07-31 22:55] ribtoks opened #749 "Add English thesaurus support with hunspell/mythes"
https://github.com/hunspell/mythes - GitHub repo
There's a `mythes-en-us` file (at least in Ubuntu repo) which is a dictionary

[2019-08-05 00:01] velmafia commented on #748
I spend some time with this problem and what I found:

Problem exist only for non-integer scale value, I tested with 1.2, 1,4 (this is my system scale), 1.5, 1.99, etc. It's look like every UI element are scale correctly, except text element (problem with font scaling?). This problem manifests itself differently for `AppImage`, and for my build:
- `AppImage` - for non-integer factor fonts looks po

[2019-08-07 14:58] #488 closed

[2019-08-07 18:48] ribtoks opened #751 "Support plugin installation from archive"
part of #445 effort

Currently you can only install a plugin by providing a `.dll` or `.dylib` or `.so` (see `PluginManager::addPlugin()` codepath). Actually it will be nice to hide these details from user and ship plugins with `.xpiksplugin` extension (or _anything_ along those lines) which actually will be a zip archive.

This task is to enable such functionality by adding 1 additional steps to

[2019-08-07 19:02] ribtoks opened #752 "Save installed plugins metadata to json"
part of #445 effort

Right now information about installed plugins is kept only in memory.

This task is about adding a json config (e.g. like `SettingsModel` has) to `PluginManager` class that will save useful plugin information in there. Useful plugin information is, but not limited to:
* filepath to installed plugin
* filepath to "raw" plugin package (from #751)
* installed version
* name
* ena

[2019-08-07 19:06] ribtoks opened #753 "Load plugins from json config instead of iterating directory"
part of #445 effort
dependent on #752

This task is about loading plugins only from json file instead of iterating directory `/plugins/`. Json config from #752 should contain path to main plugin file and Xpiks should only load plugin from this path.

Currently all plugins that fail to load during directory iteration are put to smth like `/failed_plugins/` directory. After adding loading from json

[2019-08-07 19:10] ribtoks opened #754 "Display failed to load plugins in the UI as errored"
part of #445 effort
dependent on #753

When Xpiks loads plugins from json config and the plugin fails to load, Xpiks should mark the plugin as "errored" in the json config and not attempt to load such plugin on next run. However, this plugin should be visible in the UI and user must be able to uninstall it.

Add new property `errored` (or similar) to `PluginManager::roleNames()` and appropriate en

[2019-08-08 20:55] ribtoks opened #755 "Add possibility to update the plugin"
part of #445 effort
dependent on #753

Right now it's impossible to update a plugin. Only thing that can be done is a sequence of removing a plugin, restarting Xpiks and then adding a plugin. This task is about creating a "framework" to make this process easier for the user (possibly with only 1 Xpiks restart).

Current proposal is the following:
- when installing new version of the same plugin, i

[2019-08-08 21:43] ribtoks opened #756 "Change presets dialog to be a StackView item"
Currently PresetsDialog is only a dialog therefore it's not possible to use QuickBuffer, Translator and everything else that comes from tabs. This task is about fixing this issue.

[2019-08-09 15:01] ribtoks opened #757 "Add integration test to verify metadata in vector preview"
Add new integration test where vector+preview is being added to Xpiks, then new metadata is being added, this artwork gets removed and then preview added separately and metadata verified.

[2019-08-14 00:49] ribtoks commented on #757
closed in c2cbcd26

[2019-08-14 00:49] #757 closed

[2019-08-15 12:06] velmafia commented on #669
I'm working on it.

[2019-08-15 17:22] ribtoks commented on #669
Implementation of this issue in incomplicated by the fact that `FtpCoordinator` from `libxpks` can only upload a single `ArtworksSnapshot` to all `UploadInfo`s, however, in this case it should be different snapshots to different `UploadInfo`s. Therefore, `libxpks` changes required.

[2019-08-17 20:17] velmafia commented on #669
I prepared proposal for this issue: #758

As we agreed in email, I changed `libxpks_stub` and multi `ArtworksSnapshot` is now possible, at this moment real `libxpks` should be changed (to fix `AppVeyor`).

I also implemented integration test for this feature, but I have one problem:
Currently ftp directory (`src/xpiks-tests/ftp-for-tests`) is not cleared after every upload test, so checking if fil

[2019-08-18 03:01] ribtoks commented on #669
Hi

Thanks, I’ll try to review PR tomorrow or Monday the latest.

The problem with files removal could be that you have to remove them Before your test, not after. So clearFTP() should be in the XpiksTestsApp::cleanup(). There’re other tests that upload something. Also it might fail on Travis, but succeed locally because of randomization. Let me know if that helps.

On Aug 17, 2019, at 13:17, Kami

[2019-08-18 16:45] velmafia commented on #669
I found where is problem with files removal - `xpiks` bianry don't have permission to remove this file, binary user are not the same as file user:
[code]
~Can we change this permission (or ftp files owner)?~
I will change this permission in `xpiksftp` docker configuration.

[2019-08-19 21:57] velmafia commented on #751
I'm working on it.

[2019-08-20 19:22] ribtoks commented on #669
Fixed in libxpks as well.

[2019-08-20 19:22] #669 closed

[2019-08-21 00:08] ribtoks opened #759 "Add option to change language from Settings"
Currently it's possible to change interface language only from Tools->Language menu. Add dropdown in Settings window with same options in the "Interface" tab.

[2019-08-22 16:38] ribtoks opened #760 "Model with saved filter searches"
Adding "color" filtering model could be implemented as custom filter. Need to investigate if it's viable to have a model "Searches" that will look like ArtworksRepository model but will have latest searches available including predefined like "color:red" etc.

[2019-08-24 04:46] #751 closed

[2019-09-04 17:10] ribtoks opened #763 "Add dropdown to artworks search with common queries"
Currently artworks search only allows you to type text. This task is about adding a dropdown (like dropdown next to "select all" checkbox in main view) with common searches like "Images", "Vectors", "Modified" etc. When user clicks an item in the dropdown, Xpiks just sets search query `filteredArtworksListModel.searchTerm` to the predefined text like "x:modified"

[2019-09-04 17:21] ribtoks opened #764 "Optimize artworks filtering logic in filterAcceptsRow() function"
Currently every `FilteredArtworksListModel::filterAcceptsRow()` call evaluates search query on every call in `Helpers::hasSearchMatch()`.

This task is about creating a new class `PreparedFilter` in `filteredartworkslistmodel.h` that will encapsulate `FilteredArtworksListModel::m_SearchTerm` inside and will evaluate filter (parse it to some new flags) in `FilteredArtworksListModel::setSearchTerm()

[2019-09-04 17:29] ribtoks commented on #516
Closing as unimportant.

[2019-09-04 17:29] #516 closed

[2019-09-19 22:21] ribtoks commented on #440
As of now I don't see any season to sort keywords alphabetically.

[2019-09-19 22:21] #440 closed

[2019-09-19 22:22] ribtoks commented on #581
Currently don't see a reason to have this.

[2019-09-19 22:22] #581 closed

[2019-09-19 22:24] ribtoks commented on #397
Closing as wild idea.

[2019-09-19 22:24] #397 closed

[2019-09-19 22:38] ribtoks commented on #748
Looks like Qt folks have been working on this area and there's a chance much [better High-DPI support will land in Qt 5.14](https://lists.qt-project.org/pipermail/development/2019-September/037434.html).

[2019-09-21 16:42] ribtoks opened #765 "Show full file title in Failed uploads"
Currently it is impossible to understand which file exactly has failed to upload because filenames are shortened. This task is about adding a Tooltip for each item that will show full filename.

![image](https://user-images.githubusercontent.com/505555/65376377-d70f2100-dc53-11e9-89e9-d21e7919f5b7.png)

[2019-09-21 16:44] ribtoks opened #766 "Video thumbnails are not shown in Failed uploads window"
For some reason video thumbnails don't always show up on Failed uploads window

![image](https://user-images.githubusercontent.com/505555/65376410-4edd4b80-dc54-11e9-91b5-c9b7e1599e67.png)

Need to investigate. Result of this task is either a fix (if it's easy) or investigation results what went wrong and how to fix it.

[2019-09-22 18:49] vleschuk commented on #764
I'm on it.

[2019-09-24 22:04] ribtoks opened #768 "cppcheck is broken on Travis CI"
cppcheck always crashes in Travis. Possible fix would be to update it (e.g. to 1.89) or simply remove it altogether since it doesn't bring any value.

[2019-09-25 01:01] ribtoks commented on #764
Resolved in bcdc629c901a03814e539100073ceeda20b854b7

[2019-09-25 01:01] #764 closed

[2019-09-25 21:25] ribtoks opened #769 "Limit number of spelling suggestions in KeywordEditDialog"
like 2 minute work required:

Currently we show all spelling suggestions for keyword editing which leads to having a huge dialog (height expands). We need to put upper bound for that so they will not exceed 2 lines etc.

[2019-09-25 22:11] ribtoks opened #770 "Convert microstock name edit field to dropdown with know stocks"
Currently user can start typing a name of a microstock in an edit field and Xpiks will auto-complete the name and ftp address. It will be a better user experience if user will select microstock website from dropdown. Also it should have "Custom" field that will show name/address fields below.

More details required!

One of the blockers is that with dropdown user will not be able to enter custom n

[2019-09-25 22:11] ribtoks opened #771 "Move FTP address to "Advanced" tab in Upload"
Currently it does not make sense to lots of users to fill-in FTP address for known websites like Shutterstock. This could be part of the issue where we have a dropdown in Upload Window instead of edit fields (#770)

[2019-09-26 19:24] ribtoks opened #773 "Image previews conflict with exiftool"
Created just for tracking. Same problem as with videos. Exiftool cannot write to file because it's opened in caching worker's `QImage`

[2019-09-26 22:14] #773 closed

[2019-09-26 23:56] ribtoks commented on #680
Abstract factories just got merged in #772

[2019-09-30 19:26] ribtoks opened #774 "Investigate if it's worth randomizing IV in simple encryption"
Probably it is possible to decrypt AES-encrypted data without knowing IV (initial value). If this is correct, Xpiks should always use random IV for encryption.

Verification should be trivial: just use random IV instead of static IV and run `EncryptionTests` in core tests.

[2019-10-02 16:25] ribtoks opened #775 "Race condition between image caching and exiftool"
probably twin of #477
[code]

[2019-10-02 16:31] #775 closed

[2019-10-03 14:14] zhartus opened #776 "Strange (irrelevant) Shutterstock search vectors results for keywords suggestion"
Xpiks 1.5.4.2, Ubuntu 19.04.

As far as I know, it's normal that suggested Shutterstock vectors for keywords suggestion doesn't match regular Shutterstock search due to different search algorithms on Shutterstock site and in Xpiks. But even considering this fact there are some strange results in suggested Shutterstock vectors list in last Xpiks version. For almost every request, most of the result

[2019-10-03 14:58] zhartus opened #777 "[feature request] Delete keyword(s) in batch of images (in edit dialog)"
We have the opportunity to add new keywords at once to several selected images, but there is no such possibility for deletion. That is, if a user, for example, accidentally adds an unnecessary keyword to all images, and then wants to delete it, then he will have to delete it for each image separately. Or is there a simpler way?

[2019-10-03 14:58] ribtoks commented on #777
Such opportunity exists https://xpiksapp.com/tutorials/howto-delete-keywords/

[2019-10-03 14:58] #777 closed

[2019-10-04 14:40] ribtoks commented on #776
Unfortunately there's no way for Xpiks to alter how Shutterstock provides Xpiks with search results. I suggest you using Adobe Stock search provider that does not limit results.

[2019-10-05 08:20] zhartus commented on #776
Well, the search results on the Shutterstock site are completely normal. Until recently, they were normal in Xpiks too, but then apparently something broke.

[2019-10-05 14:48] ribtoks commented on #776
@zhartus I already explained somewhere that Shutterstock now provides different search results for 3rd party applications. There's nothing to do here with "breaking" something.

[2019-10-05 14:48] #776 closed

[2019-10-08 09:24] zhartus opened #778 "[proposal] Automatically create description and title from template"
Most descriptions and titles have a certain structure, and therefore are well suited for creating templates. And it would be very cool to automate the creation of descriptions and titles based on pre-created templates. And we already have a tool for group image editing, which is great for these purposes.

I will explain what I mean by an example.

Suppose, in group editing, the user enters the fol

[2019-10-08 09:31] zhartus commented on #778
In addition it will also be nice to implement patterns of several words, such as:
`"Vector illustration"/"Cool art" of "cute character"/"pretty woman"/"funny girl".`

[2019-10-08 17:34] ribtoks commented on #778
Thanks for bringing this topic on the table. Indeed, many will benefit in some sort of aiding with creating Description and Title. Solution that you propose here has some shortcomings like the need to create too many matching patterns (e.g. some keywords might mean different things depending on a context - think about "conceptual" photos). However, in general this is possible to create a recommend

[2019-10-23 21:46] ribtoks opened #779 "Menu misaligned for right-to-left language"
There's a [report](https://groups.google.com/forum/#!topic/xpiks-support/ywKo6qmLQP0) that user experiences wrong UI layout with Hebrew settings under Windows 7.

Probably have to explicitly set layout direction in Qt like `qApp->setLayoutDirection (Qt::RightToLeft);`

[Qt docs](https://doc.qt.io/qt-5/qtquick-positioning-righttoleft.html)

[2019-10-25 04:44] ribtoks opened #780 "Add option to add copyright metadata"
This is 1 setting for all files that has to be set somewhere in settings. Also need to read this metadata and display in "Info" tab in Single Editing mode

[2019-11-05 20:54] ribtoks opened #781 "Use Sparkle to handle autoupdate"
Since Xpiks will be signed (forced from Catalina) we can switch to Sparkle updater.

[2019-11-05 23:44] ribtoks commented on #383
Will need to move settings since signed/sandboxed apps are required to store their settings in `~\Library\Application Support\com.orgname.appname\` location

[2019-11-08 00:09] ribtoks opened #782 "Investigate Google Analytics Measurement protocol"
https://developers.google.com/analytics/devguides/collection/protocol/v1

[2019-11-14 21:58] ribtoks commented on #782
8dd58665114a74ec8564c7368b2910e0d494e627

[2019-11-15 00:01] velmafia commented on #752
I take this task.

[2019-11-15 04:27] harrisoncbrammell commented on #771
you can send this one to me. good opportunity to try out using QT IDE for first time.

[2019-11-15 05:22] ribtoks commented on #771
Hey @harrisoncbrammell

Thanks for the ping. I wanted to let you know that this issue is marked as "need more info" so it's scope is not finalized yet. Sorry about that.

I really appreciate your interest in Xpiks and I can suggest you other good issues for start:

*   Add option to change language from Settings #759
*   Add dropdown to artworks search with common queries #763
*   Ability to add t

[2019-11-15 05:38] ribtoks commented on #782
eb6a3a9f1d
10535fc6bfd
5789f5ed
79949e22

[2019-11-17 19:15] ribtoks opened #784 "Cannot scroll list of upload hosts during upload"

[2019-11-17 19:16] #784 closed

[2019-11-17 22:35] #747 closed

[2019-11-20 21:47] ribtoks opened #785 "Show duplicates bug"
-   Add keywords and duplicates in title and description
-   click "show duplicates"
-   click "edit"
-   click "show duplicates"
-   click "back"
-   click "back"
-   now duplicates are gone without editing!

[2019-11-21 15:48] #785 closed

[2019-11-21 20:08] ribtoks commented on #779
closed in master

[2019-11-21 20:08] #779 closed

[2019-11-25 22:27] #782 closed

[2019-11-29 15:06] zhartus opened #787 "Xpiks 1.5.5 doesn't start on Ubuntu ("no Qt platform plugin could be initialized")"
Ubuntu 19.10 amd64, Xpiks 1.5.5 (AppImage).

Xpiks 1.5.5 even doesn't start.
When starting from the console, I get an error:
[code]

The previous version (1.5.4) is working fine.

[2019-11-29 15:59] #787 closed

[2019-11-29 15:59] ribtoks commented on #787
@zhartus Thanks for reporting this problem. I fixed the package, please download it again from the website.

[2019-11-29 20:14] zhartus commented on #787
@ribtoks It works now, thanks.

[2019-11-30 23:34] velmafia commented on #768
Problem is related with old Ubuntu verison, maybe we can update Ubuntu on travis ([Xenial or Bionic)](https://docs.travis-ci.com/user/reference/overview/#linux)?

[2019-12-01 01:19] #768 closed

[2019-12-02 01:59] ribtoks opened #790 "Correcly handle plugin installation with subdirectories"
Enforce rule that plugin can have only 1 `.dll|.so|.dylib` in the topmost directory and make sure directory structure preserves when installed (does not flatten).

[2019-12-06 04:17] ribtoks opened #791 "Improve plugin installation logic"
So as discussed in other comments, we should:

    try to cleanup first
    if failed, find a "substitution" candidate (more on this below)

We anyway only save a path to the file to load so the path can be any. I propose the following trick:

Each plugin should have a unique autoincrement ID (just int32). When reading config, you know max existing ID and each next plugin will have ID+1, ID+2 and

[2019-12-06 04:21] ribtoks opened #792 "Properly cleanup plugins for integration tests"
Cleanup plugins config between integration and UI tests

[2019-12-06 21:35] ribtoks opened #793 "Add exceptions reporting"
Something like [this](https://developers.google.com/analytics/devguides/collection/protocol/v1/devguide#exception)

[2019-12-06 21:44] velmafia opened #794 "Properly handle errors during plugin uninstallation"
As mention [here](https://github.com/ribtoks/xpiks/pull/786#discussion_r352948287):

Logic for failed plugins during removal:

---
So I think we should do this:

- if we fail to install plugin we never include it to the config (given that we managed to cleanup after ourselves)
- if we fail to remove the plugin we do not remove it from the config, but mark it as "failed to remove"
- on the next sta

[2019-12-08 16:57] #752 closed

[2019-12-08 16:57] #753 closed

[2019-12-08 16:59] ribtoks commented on #794
This is partially done in the PR merged to master already. Need to remove "done" bullets

[2019-12-08 17:16] ribtoks opened #796 "Build helloworld plugin from vendors in `build_vendors_xxx` scripts for local testing"
Currently helloworld plugin is only build in TravisCI or AppVeyor. Need to build it as part of build_vendors_xxx scripts so integrations tests could be run locally without problems

[2019-12-08 17:17] ribtoks commented on #796
@velmafia This one would be great to do for local environment setup

[2019-12-08 21:32] velmafia commented on #796
I take this task.

`helloworld` submodule should also be moved to `vendors`? Currently is `src/xpiks-tests/plugins-for-tests/helloworld`

[2019-12-09 03:02] ribtoks commented on #796
@velmafia Technically it's not a vendor part since it's not a part of Xpiks itself. But you think it's better, I don't have any objections.

[2019-12-09 20:42] velmafia commented on #796
OK, so I move it.
(From my POV better destination name would be `third part`, or something like it, but if we use `vendors` so I move it there. Especially if this plugin will be build together with `vendors`).

----
One more question:
helloworld plugin has different `INCLUDEPATH` / `SOURCES` path for `travic-ci` and `appveyor`, and different of everything else. Do you use this project somewhere el

[2019-12-09 21:27] ribtoks commented on #796
The only problem with moving is that "moving submodules in git is complicated", but if you assure me that after I do `git pull` and `git submodule update --init` everything will be great - go on and move it.

Hello-world plugin currently is a showcase of all plugin capabilities. I don't use it, it's more like "alive documentation". You can probably remove these different `INCLUDEPATH` **and** `DES

[2019-12-09 22:36] ribtoks commented on #782
GA has quota 10 million events per month per property

[2019-12-09 22:50] ribtoks opened #797 "Add throttling for GA reporting"

[2019-12-10 00:42] velmafia commented on #796
Changes in plugin is required to solve this issue: https://github.com/ribtoks/xpiks-helloworld-plugin/pull/2

[2019-12-10 00:48] ribtoks commented on #796
@velmafia Merged

[2019-12-10 05:58] #796 closed

[2019-12-11 00:06] ribtoks opened #799 "Send minidumps to Sentry"
https://docs.sentry.io/platforms/native/minidump/#minidump-integration

[2019-12-11 02:18] ribtoks commented on #799
[code]

[2019-12-11 19:04] ribtoks opened #800 "Title field is not updated when copied from Description"
Xpiks fills the Title from Description if title is empty. However, these changes are not reflected in the UI after Saving artworks. Need to find out a good approach.

[2019-12-12 21:55] ribtoks opened #801 "UI test crash on Ubuntu 18.04 on Travis CI"

[2019-12-13 13:42] lowbouncerate opened #802 "Svg file Support"
SVG files are not supported.
Look like it is not reading at all

[2019-12-13 15:37] ribtoks commented on #802
Yes, SVG files are not supported. Which microstock requires to send SVG?

[2019-12-13 21:13] ribtoks opened #803 "Add ability to keep preset groups sorted in the menu"
Presets model in the context menu is a `QSortFilterProxyModel`. Need to override `bool lessThan(int, int)` method and if a Setting (we should add new setting) to keep presets sorted is ON, then sort preset groups (see example with `FilteredArtworksListModel`

[2019-12-14 00:34] ribtoks opened #804 "Report stuck or long-running threads"
Xpiks needs to report if threads are stuck (like video thread stuck on processing single thumbnail).

In order to achieve that, for `ItemProcessingWorker` need to save/query 2 values: `PendingCount` and `ProcessedCount`. Now if `ProcessedCount` grows much slower than `PendingCount`, need to report this thread as "stuck".

This querying should be done by each respective Service and each Service sho

[2019-12-15 02:55] ribtoks opened #805 "Add integration test to verify video and image caching workers"
Add test that adds video and verifies that it's thumbnail is present in the video cache DB and this thumbnail's thumbnail is also present in images cache DB

[2019-12-19 19:55] ribtoks opened #807 "GitHub Actions missing features"
- [ ] Windows Action
- [ ] creating xpiks-nightly dmg for "nightly" branch, like in Travis-CI
- [ ] skip pending builds
- [ ] skip actions on "[ci skip]" commit message
- [ ] run only Linux build on branches different from master
- [ ] (in question) static analysis integrations with Sonarqube & Coverity Scan
- [ ] (in question) CodeCov integration

[2019-12-19 20:23] ribtoks commented on #807
Looks like "rolling build" is currently [not possible](https://github.community/t5/GitHub-Actions/Github-actions-Cancel-redundant-builds/td-p/29549)

[2019-12-19 20:39] ribtoks commented on #807
Added `ci skip` and master-only logic to macOS build

[2019-12-19 20:41] ribtoks commented on #807
Also added 'fail-fast' back in order to preserve CI minutes.

[2019-12-19 22:00] ribtoks commented on #807
@velmafia biggest problem is probably the missing core dumps on linux